body {
	background: white; 
	font-family: "roboto", sans-serif;
	margin: 0;
	padding: 0;
}
header {
width: 100%;
}

#menutopright {
display: flex;
flex-direction: row-reverse;
color: black;
}


.chloe {
  display: inline-flex;
  border-radius: 50%;
  margin-right: 12px;
  border-top: 3px;
}

.Gologolo {
    width: 24%;
    height: 1%;
    margin: 1%;
}

a
{
  text-decoration: underline;
  color: grey;
}

span.souligne {text-decoration: underline;}

ul {
	list-style: none;
}
#menutopright li {
	display: inline-block;
	padding: 4px;
  border-top: 1px;
}

h1 {
  color: blue;
  background-color: yellow;
  border: 1px solid black;
}

p 
{
  color: black;
  text-align: center;
  font-size: 14px;
}

#menucenter 
{
display: flex;
justify-content: center;
align-items: center;
margin-top: 18px;
}

#searchbar {
    height: 44px;
    border-radius: 48px;
    border: 0.5px solid lightgrey;
    width: 40%;
    padding-right: 10px;
    padding-left: 40px;
}

#loupe
{
position: absolute;
top: 50;
width: 43%;
display: flex;
padding: 12px 20px;
}

#mic
{
position: absolute;
top: 50;
width: 42%;
display: flex;
padding: 12px 20px;
}

#boutonrecherche 
{
    width: 135px;
    height: 30px;
    padding: 10px
    padding-left: 45px;
    padding-right: 10px;
    background-color: #80808026;
    color: black;
    border-radius : 0px;
    border: 0.0px solid grey;
}  
#info p
{
font-size: 12px;
}

h2
{
  color: grey;
  font-size: 17px;
  text-align: left;
  margin-left: 30px;
  padding-bottom: 0px;
  padding-top: 1px;
  font-weight: normal;
}

h2
{
  border-bottom: 0.1px solid;
  padding-bottom: 2px;
  color: grey
}

#footer
{
    background-color: #80808026;
    text-align: center;
    padding-bottom: 10px;
    position: fixed;
    bottom:0;
    width:100%;
    vertical-align:top;
    font-size:15px;
}

#footer a
{
  justify-content: space-between;
  margin-right: 35px
}